AddDefaultCharset UTF-8
RewriteEngine On
RewriteRule ^dashboard$ dashboard.php [NC,L]

RewriteRule ^accounts$ accounts.php [NC,L]
RewriteRule ^accountsEdit-([0-9]+)$ accountsEdit.php?idAccount=$1 [NC,L]
RewriteRule ^accountsDelete-([0-9]+)$ accountsEdit.php?idAccount=$1&action=delete [NC,L]